<div mat-dialog-title class="row">
    <div class="col-md-12"><img src="../../../assets/img/viajaperulogo.png" alt="" width="200px"></div>
    <div class="col-md-12"><h5 class="m-3">Formulario itinerarios</h5></div>

    <mat-divider></mat-divider>
    
</div>

<div mat-dialog-content>
    <div class="row">
        <mat-form-field appearance="outline" class="col-md-6 mt-2 p-1" style="width: 100%;">
            <mat-label>Origen</mat-label>
            <mat-select (selectionChange)="llenarDestinos()" [(ngModel)]="objItinerario.codorigen">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <ng-container *ngFor="let d of lstOrigen">
                    <mat-option  *ngIf="d.nombre === 'Lima'" [value]="d.cod_destino"> {{d.nombre}} - {{d.sucursal}} </mat-option>
                    <mat-option  *ngIf="d.nombre !='Lima'" [value]="d.cod_destino"> {{d.nombre}} </mat-option>
                </ng-container>    
            </mat-select> 
        </mat-form-field> 

        <mat-form-field appearance="outline" class="col-md-6 mt-2 p-1" style="width: 100%;">
            <mat-label>Destino</mat-label>
            <mat-select [(ngModel)]="objItinerario.codllegada">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <ng-container *ngFor="let de of lstDestinos">
                    <mat-option  *ngIf="de.nombre === 'Lima'" [value]="de.cod_destino"> {{de.nombre}} - {{de.sucursal}} </mat-option>
                    <mat-option  *ngIf="de.nombre !='Lima'" [value]="de.cod_destino"> {{de.nombre}} </mat-option>
                </ng-container>         
            </mat-select> 
        </mat-form-field> 
    </div>

    <div class="row" style="margin-top: -15px;">
        <div class="col-md-6">
            <label for="" class="label-datetime">Fecha y hora de salida</label>
            <input type="datetime-local" min="{{fechaFormateada}}" class="input-fecha mb-1" placeholder="Seleccione fecha" [(ngModel)]="objItinerario.fecha_salida"> 
        </div>
        
        <div class="col-md-6">
            <label for="" class="label-datetime">Fecha y hora de llegada</label>
            <input type="datetime-local" min="{{fechaFormateada}}" class="input-fecha mb-1" placeholder="Seleccione fecha" [(ngModel)]="objItinerario.fecha_llegada"> 
        </div>

    </div>


    <div class="row">
        <mat-form-field appearance="outline" class="col-md-6 p-1" style="width: 100%;">
            <mat-label>Bus</mat-label>
            <mat-select [(ngModel)]="objItinerario.codbus">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let b of lstBuses" [value]="b.cod_bus"> {{b.placa}} | Asientos: {{b.total_pasajeros}}</mat-option> 
            </mat-select> 
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col-md-6 p-1" style="width: 100%;">
            <mat-label>Precio S/.</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="objItinerario.precio">
           
          </mat-form-field>

    </div>

    <div class="row">
        <mat-form-field appearance="outline" class="p-1" style="width: 100%;">
            <mat-label>Codigo de equipo</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="objItinerario.codequipo">
           
          </mat-form-field>
    </div>

    <div class="row">

        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Equipos
                </mat-panel-title>
                <mat-panel-description>
                  Ver lista de equipos
                </mat-panel-description>
              </mat-expansion-panel-header>
        
              <div *ngFor="let x of lstEquipos">
                <h6>Equipo: {{x.cod_equipo}}</h6>
              
              <table class="m-4">
                <tr>
                    <td class="title-label">Conductor: </td>
                    <td><label class="contenido-tabla">{{x.objConductor!.nom_chofer}} {{x.objConductor!.ape_chofer}}</label></td>
                    <td class="title-label">Documento: </td>
                    <td><label class="contenido-tabla">{{x.objConductor!.nrodocumento}}</label></td>
                    <td class="title-label">Brevete: </td>
                    <td><label class="contenido-tabla">{{x.objConductor!.objLicencia!.descripcion}}</label></td>
                </tr> 
                
                <tr>
                    <td class="title-label">Copiloto: </td>
                    <td><label class="contenido-tabla">{{x.objCopiloto!.nom_chofer}} {{x.objCopiloto!.ape_chofer}}</label></td>
                    <td class="title-label">Documento: </td>
                    <td><label class="contenido-tabla">{{x.objCopiloto!.nrodocumento}}</label></td>
                    <td class="title-label">Brevete: </td>
                    <td><label class="contenido-tabla">{{x.objCopiloto!.objLicencia!.descripcion}}</label></td>
                </tr> 
        
                <tr>
                    <td class="title-label">Terramoza: </td>
                    <td><label class="contenido-tabla">{{x.objTerramoza!.nombre}} {{x.objTerramoza!.ape_pater}} {{x.objTerramoza!.ape_mater}}</label></td>
                    <td class="title-label">Documento: </td>
                    <td><label class="contenido-tabla">{{x.objTerramoza!.numerodocumento}}</label></td>
                </tr> 
                <button mat-raised-button color="warn" (click)="teamSelect(x.cod_equipo!)">Seleccionar</button>
        
              </table>
            </div>  
              <mat-divider></mat-divider>
          
            </mat-expansion-panel>
          </mat-accordion>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false" >Cancel</button>
    <button mat-raised-button color="warn" (click)="registrar()">Registrar</button>
</div>
