<div mat-dialog-title class="row text-center">
    <div class="col-md-12"><img src="../../../assets/img/viajaperulogo.png" alt="" width="300px"></div>
    <p style="font-size: 15px;"><b>Recuerda</b> activar las <b>compras por internet</b> con tu banco</p>
    <mat-divider></mat-divider>   
</div>

<div class="container">
<h6 class="text-center">Datos para su {{objPago.tipo}}</h6>    
<div mat-dialog-content>
    <div class="row">
           <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Numero de tarjeta</mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="objPago.numero_tarjeta">
              </mat-form-field>
    </div>

    <div class="row">

            <mat-form-field appearance="outline" style="width: 50%;">
             <mat-label>MM/AA</mat-label>
             <input matInput placeholder="Placeholder">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%; padding-left: 5px;">
            <mat-label>CVV</mat-label>
            <input matInput placeholder="Placeholder">
           </mat-form-field>
    </div>

    <div class="row">
           <mat-form-field appearance="outline" class="p-1">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select [(ngModel)]="objCliente.cod_tipodocumento">
                <mat-option [value]=-1> [Seleccione] </mat-option>
                <ng-container *ngFor="let x of lstDocumentos">
                    <ng-container *ngIf="objPago.tipo ==='Factura'">
                     <mat-option *ngIf="x.descripcion==='RUC'" [value]="x.cod_tipodocumento">
                    {{x.descripcion}}
                    </mat-option>    
                    </ng-container>

                    <ng-container *ngIf="objPago.tipo ==='Boleta'">
                        <mat-option *ngIf="x.descripcion!=='RUC'" [value]="x.cod_tipodocumento">
                       {{x.descripcion}}
                       </mat-option>    
                    </ng-container>
                     
                </ng-container>             
            </mat-select> 
        </mat-form-field> 

        <mat-form-field appearance="outline" class="p-1">
            <mat-label>Número de Documento</mat-label>
            <input matInput placeholder="Número de Documento" [(ngModel)]="objCliente.numeroDocumento">
            
          </mat-form-field>  

    </div>

    <div class="row">
        <mat-form-field appearance="outline" style="width: 100%;">
             <mat-label>Nombre o Razon social</mat-label>
             <input matInput placeholder="Placeholder" [(ngModel)]="objCliente.nombre">
           </mat-form-field>
    </div>

</div>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" class="mb-3" style="width: 100%;height: 45px;" (click)="concretarRegistro()"> Pagar S/.{{total}}</button>
</div>

</div>

