<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
    <p *ngIf="!sidenav.opened">O</p>
    <p *ngIf="sidenav.opened">X</p>

    </button>
    <img src="../../../assets/img/viajaperulogo.png" alt="" width="180px">
    Aplicativo web
    
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />
  
      <h6 class="name">{{nombreUsuario}}</h6>
      <p class="designation">Software Engineer</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" (click)="cambiarElemento('bus')">
        <span>Buses</span>
      </button>
      <button mat-button class="menu-button" (click)="cambiarElemento('destino')">
        <span>Destinos</span>
      </button>
      <button mat-button class="menu-button" (click)="cambiarElemento('conductor')">
        <span>Conductores</span>
      </button>
      <button mat-button class="menu-button" (click)="cambiarElemento('terramoza')">
        <span>Terramozas</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" (click)="cambiarElemento('equipoBus')">
        <span>Equipos</span>
      </button>
      <button mat-button class="menu-button" (click)="cambiarElemento('itinerario')">
        <span>Itinerarios</span>
      </button>

      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="cambiarElemento('venta')">
        <span>Ventas</span>
      </button>
      <mat-divider></mat-divider>
      <button class="boton-apagar" (click)="onLogOut()"> <i class="fa fa-power-off"></i> Salir</button>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z2">
        <div class="">


          <app-add-bus *ngIf="elementoActual == 'bus'"></app-add-bus>
          <app-add-destino *ngIf="elementoActual == 'destino'"></app-add-destino>
          <app-add-venta *ngIf="elementoActual == 'venta'"></app-add-venta>
        <app-add-conductor *ngIf="elementoActual == 'conductor'"></app-add-conductor>    
        <app-add-terramoza *ngIf="elementoActual == 'terramoza'"></app-add-terramoza>
        <app-add-equipobus *ngIf="elementoActual == 'equipoBus'"></app-add-equipobus>
        <app-add-itinerario *ngIf="elementoActual == 'itinerario'"></app-add-itinerario>

        </div>
    
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>