    <body> 
        
    <div class="box">
     <span class="borderLine">
    
     </span>   
    <form action="">
        <img src="../../../assets/img/viajaperulogo.png" alt="" style="margin-top: -30px;">
        <h2 style="margin-top: -3px;">Inicio de sesion</h2>
        <div class="inputBox">
            <input type="text" required="required">
            <span>Usuario</span>
            <i></i>
        </div>
    
        <div class="inputBox">
            <input type="password" required="required">
            <span>Contraseña</span>
            <i></i>
        </div>
    
        <div class="links">
            <a href="#">Olvidaste tu contraseña</a>
            <a href="index">Registrate</a>
        </div>
        <a class="btn-success text-center" href="app">Login</a>
        
    
    </form>
    
    </div>
    
    </body>