<body> 
    <div class="box">
     <span class="borderLine">
     </span>   
    <form  [formGroup]="myForm"  (ngSubmit)="onLogin()" >
        <img src="../../../assets/img/viajaperulogo.png" alt="" style="margin-top: -30px;">
        <h2 style="margin-top: -3px;">Inicio de sesion</h2>
        <div class="inputBox">        
            <input formControlName="usuario" type="text" name="login" id="login" [(ngModel)]="loginUsuario.login" required>
            <span>Usuario</span>
            <i></i>
            
        </div>
    
        <div class="inputBox">
            <input formControlName="password" type="password" name="password" id="password" [(ngModel)]="loginUsuario.password" required>
            <span>Contraseña</span>
            <i></i>
            
        </div>
    <div>
        <hr><br>
    </div>
    
        <div class="links" style="margin-top: -5px;">
            
            <a href="#">Olvidaste tu contraseña</a>
            <a href="index">Registrate</a>
        </div>
        
        <button  class="btn btn-danger" style="width: 100%;padding: 10px 25px;margin-top: -2px;background: #ff1111;" >Iniciar Sesison</button>
        
       
    </form>
<br><br>
    </div>
    </body>
    