<div mat-dialog-title class="row">
    <div class="col-md-12"><img src="../../../assets/img/viajaperulogo.png" alt="" width="200px"></div>
    <div class="col-md-12"><h5 class="m-3">Formulario de destinos</h5></div>

    <mat-divider></mat-divider>
    
</div>

<div mat-dialog-content>
   
    <div class="row">
        <mat-form-field appearance="outline" class="p-1" style="width: 100%;">
            <mat-label>Nombre del destino</mat-label>
            <input matInput [(ngModel)]="objDestino.nombre" placeholder="Nombre del destino" #ngdestino="ngModel"
            [pattern]="nombrePatt" name="destino">
            <mat-hint style="color: red;" *ngIf="objDestino.nombre===''&& (!ngdestino.dirty || ngdestino.touched)">
                *Campo Olbigatorio
              </mat-hint>
              <mat-hint style="color: red;" *ngIf="ngdestino.invalid && (ngdestino.dirty || ngdestino.touched)">
                *Destino Invalido
              </mat-hint>
          </mat-form-field>  

    </div>

    <div class="row">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Sucursal</mat-label>
            <input matInput [(ngModel)]="objDestino.sucursal" placeholder="Sucursal" #ngsucursal="ngModel"
            [pattern]="dirPatt" name="sucursal">
            <mat-hint style="color: red;" *ngIf="objDestino.sucursal===''&& (!ngsucursal.dirty || ngsucursal.touched)">
                *Campo Olbigatorio
              </mat-hint>
              <mat-hint style="color: red;" *ngIf="ngsucursal.invalid && (ngsucursal.dirty || ngsucursal.touched)">
                *Destino Invalido
              </mat-hint>
          </mat-form-field>
          
    </div>

    <div class="row">
          <mat-form-field appearance="outline" class="p-1"style="width: 100%;">
            <mat-label>Ubicacion</mat-label>
            <input matInput [(ngModel)]="objDestino.ubicacion" placeholder="Ubicación" #ngubicacion="ngModel"
            [pattern]="ubicaPatt" name="ubicacion">
            <mat-hint style="color: red;" *ngIf="objDestino.ubicacion===''&& (!ngubicacion.dirty || ngubicacion.touched)">
                *Campo Olbigatorio
              </mat-hint>
              <mat-hint style="color: red;" *ngIf="ngubicacion.invalid && (ngubicacion.dirty || ngubicacion.touched)">
                *Destino Invalido
              </mat-hint>
          </mat-form-field>  

    </div>

    <div class="row">
        <mat-form-field *ngIf="data" appearance="outline" style="width: 100%;">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="objDestino.estado">
                <mat-option [value]=-1> [Seleccione] </mat-option>
                <mat-option [value]=1>Activo</mat-option>
                <mat-option [value]=0>Inactivo</mat-option>    
            </mat-select> 
        </mat-form-field> 
    </div>


</div>

<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="warn" (click)="registrarDestino()">Guardar</button>
</div>

