<div mat-dialog-title class="row">
    <div class="col-md-12"><img src="../../../assets/img/viajaperulogo.png" alt="" width="200px"></div>
    <div class="col-md-12"><h5 class="m-3">Formulario Conductores</h5></div>

    <mat-divider></mat-divider>
    
</div>

<div mat-dialog-content>
   
    <div class="row">
        <mat-form-field appearance="outline" class="p-1">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select [(ngModel)]="objConductor.objTipoDocumento!.cod_tipodocumento">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option  *ngFor="let x of lstTipo" [value]="x.cod_tipodocumento">
                    {{x.descripcion}}
                </mat-option>   
            </mat-select> 
        </mat-form-field> 

        <mat-form-field appearance="outline" class="p-1">
            <mat-label>Número de Documento</mat-label>
            <input matInput [(ngModel)]="objConductor.nrodocumento" placeholder="Número de Documento">
            
          </mat-form-field>  

    </div>

    <div class="row">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Apellidos</mat-label>
            <input matInput [(ngModel)]="objConductor.ape_chofer" placeholder="Apellidos">
           
          </mat-form-field>
          
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nombres</mat-label>
            <input matInput [(ngModel)]="objConductor.nom_chofer" placeholder="Nombres">
            
          </mat-form-field>  
    </div>

    <div class="row">
        <mat-form-field appearance="outline" class="p-1">
            <mat-label>Tipo de Licencia</mat-label>
            <mat-select [(ngModel)]="objConductor.objLicencia!.cod_licencia">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option  *ngFor="let x of lstLicencia" [value]="x.cod_licencia">
                    {{x.descripcion}}
                </mat-option>   
            </mat-select> 
        </mat-form-field> 

        <mat-form-field appearance="outline" class="p-1">
            <mat-label>Número de Licencia</mat-label>
            <input matInput [(ngModel)]="objConductor.nrolicencia" placeholder="Número de Licencia">
            
          </mat-form-field>  

    </div>

    <div class="row">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="objConductor.telefono" placeholder="Teléfono">
           
          </mat-form-field>
        
    </div>


</div>

<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn" (click)="insertaConductor()">Guardar</button>
</div>
