<button mat-raised-button color="warn" class="rounded-circle floating" (click)="openDialog()">
    <i class="fas fa-solid fa-plus"></i>
  </button>
  
  <div class="row d-flex justify-content-between mb-4">
    <h5 class="m-4">REGISTRO DE TERRAMOZAS</h5>
    <img src="../../../assets/img/viajaperulogo.png" alt="" width="300px">
  </div>

  <div class="row">
    <div class="col-md-12">
      <mat-form-field style="width: 100%;">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
        <td mat-cell *matCellDef="let t"> {{t.cod_terramoza}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let t"> {{t.nombre}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="apellido p">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ape Paterno </th>
        <td mat-cell *matCellDef="let t"> {{t.ape_pater}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="apellido m">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ape Materno </th>
        <td mat-cell *matCellDef="let t"> {{t.ape_mater}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
        <td mat-cell *matCellDef="let t"> {{t.objTipoDocumento.descripcion}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="numero doc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
        <td mat-cell *matCellDef="let t"> {{t.numerodocumento}}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let t">
          <button mat-mini-fab color="primary" class="m-1" (click)="openEditDialog(t)">
            <i class="fas fa-solid fa-pen"></i></button>
          <button mat-mini-fab color="warn" class="m-1" (click)="eliminar(t.cod_terramoza)"  >
            <i class="fas fa-solid fa-trash"></i></button>
        </td>
       
        
        
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>