<body>

<header class="bg_animate" style="height: 400px;">
    <div class="header_nav">
        <div class="contenedor">
            <img src="../../../assets/img/viajaperulogo.png" alt="" class="bg-bus">                
        </div>
    </div>

    <section class="banner contenedor">
        <section class="banner_title">
            <h2>Selecciona tus asientos</h2>
            <p><strong>Smartbus</strong> el negocio que necesitas para viajar sin hacer largas colas y gastar mucho</p>
        </section>
        <div class="banner_img">    
            <img src="../../../assets/img/select-asiento.svg" alt="" style="width: 500px;">
        </div>
    </section>

    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</header>


    <div class="p-1 bg-white">
              
        <div class="container">

          <div class="row mt-4">
            <div class="col-xl-8 col-lg-7">

                <div class="card border b-4" *ngFor="let p of asientos;let i = index" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                   
                    <div class="card-header py-3 bg-white border-bottom">
                        <h6 class="m-0 font-weight-bold text-dark">Registro Pasajero {{(i+1)}}</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body mt-2">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="p-1" style="width: 100%;">
                                    <mat-label>Tipo de Documento</mat-label>
                                    <mat-select [(ngModel)]="asientos[i].cod_tipodocumento">
                                        <mat-option value="-1"> [Seleccione] </mat-option>
                                        <mat-option  *ngFor="let x of lstDocumentos" [value]="x.cod_tipodocumento">
                                            {{x.descripcion}}
                                        </mat-option>   
                                    </mat-select> 
                                </mat-form-field> 
                        
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Número de documento</mat-label>
                                    <input matInput placeholder="Placeholder" [(ngModel)]="asientos[i].numeroDocumento">                    
                                  </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput placeholder="Nombre del Pasajero" [(ngModel)]="asientos[i].nombre">                    
                                  </mat-form-field>
                            </div>
                            
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput placeholder="Placeholder" [(ngModel)]="asientos[i].apellidos">                    
                                  </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Edad</mat-label>
                                    <input matInput placeholder="Placeholder" [(ngModel)]="asientos[i].edad">                    
                                  </mat-form-field>
                            </div>

                            </div>
                        </div>


                </div>

            </div>
    
            <div class="col-xl-4 col-lg-5">
                <div class="row">

                  <div class="col-xl-12 col-lg-12">
                    <div class="card mat-elevation-z4 mb-4" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3" (click)="toggleItem()">
                        <h6 class="m-0 font-weight-bold">Detalle del viaje</h6>
                        <div class="extra-item" [ngClass]="{ 'collapsed': isCollapsed }">
                          <div class="item-icon">
                             <!-- Card Body -->
                            <div class="card-body">
                                <div class="d-flex justify-content-end mt-2">
                                <p style="background: rgba(223, 0, 0, 0.836); padding: 4px; border-radius: 10px; color: white;"><strong>Saliente .</strong><i>{{obj.fecha_salida | date:'EEEE d \'de\' MMMM'}}</i></p>
                                </div>

                                <div class="d-flex justify-content-start">
                                    <p><strong>{{obj.fecha_salida | date:'hh:mm a'}}</strong></p> <i class="fa fa-street-view" style="font-size: 30px;"></i> <p style="margin-left: 4px;"><strong>{{obj.objOrigen?.nombre}}</strong><br> {{obj.objOrigen?.sucursal}}</p>
                                </div>
                                <div class="d-flex justify-content-start">
                                <p><strong>{{obj.fecha_llegada | date:'hh:mm a'}}</strong></p> <i class="fa fa-compass" style="color: rgb(209, 0, 0); font-size: 30px;"></i> <p style="margin-left: 4px;"><strong>{{obj.objLlegada?.nombre}}</strong><br> {{obj.objLlegada?.sucursal}}</p>
                                </div>

                                <div>

                                    <div class="d-flex justify-content-between" *ngFor="let asiento of asientosSeleccionados; let i = index">
                                        <p><b>Pasajero {{(i+1)}}</b> Asiento:{{asiento}}</p>
                                        <p class="text-danger"><b>S/.{{obj.precio | number:'1.2-2'}}</b></p>
                                    </div>
    
                                    <div class="d-flex justify-content-between border-top" *ngIf="total!==0.00">
                                        <p class="mt-2">Total:</p>
                                        <p class="mt-2">S/.{{total | number:'1.2-2'}}</p>
                                    </div>
    
                                    <div class="border-top" *ngIf="total===0.00">
                                        <p class="mt-2">No hay asientos seleccionados</p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                      </div>
                    </div>
                     
                    </div>
                   
                </div>
              </div>
                              
             </div>

             <button class="btn btn-danger" (click)="verificar()">Avanzar</button>

                
            </div>
    
        </div>
    
    </div>

</body>