<header class="bg_animate" style="height: 400px;">
    <div class="header_nav">
        <div class="contenedor">
            <img src="../../../assets/img/viajaperulogo.png" alt="" class="bg-bus">                
        </div>
    </div>

    <section class="banner contenedor">
        <section class="banner_title">
            <h2>Selecciona tus asientos</h2>
            <p><strong>Smartbus</strong> el negocio que necesitas para viajar sin hacer largas colas y gastar mucho</p>
        </section>
        <div class="banner_img">    
            <img src="../../../assets/img/select-asiento.svg" alt="" style="width: 500px;">
        </div>
    </section>

    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>
</header>

<body>
    <div class="p-1 bg-white">
              
        <div class="container">

          <div class="row mt-4">
            <div class="col-xl-8 col-lg-7">

                <div class="card border mat-elevation-z4 b-4" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                   
                    <div class="card-header py-3 bg-white border-bottom">
                        <h6 class="m-0 font-weight-bold text-dark">Registro Pasajero</h6>
                    </div>
                    <!-- Card Body -->
                    <form (ngSubmit)="submitForm()" #pasajerosForm="ngForm">
                    <div class="card-body mt-2" *ngFor="let pasajero of pasajeros; let i = index">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Tipo Documento</mat-label>
                                    <mat-select>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Número de documento</mat-label>
                                    <input matInput placeholder="Placeholder">                    
                                  </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput name="Nombre{{ i + 1 }}" placeholder="Nombre del Pasajero {{ i + 1 }}">                    
                                  </mat-form-field>
                            </div>
                            
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput placeholder="Placeholder">                    
                                  </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Fecha Nacimiento</mat-label>
                                    <input matInput placeholder="Placeholder">                    
                                  </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Nacionalidad</mat-label>
                                    <input matInput placeholder="Placeholder">                    
                                  </mat-form-field>
                            </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
            <div class="col-xl-4 col-lg-5">
                <div class="row">

                  <div class="col-xl-12 col-lg-12">
                    <div class="card mat-elevation-z4 mb-4" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3" (click)="toggleItem()">
                        <h6 class="m-0 font-weight-bold">Detalle del viaje</h6>
                        <div class="extra-item" [ngClass]="{ 'collapsed': isCollapsed }">
                          <div class="item-icon">
                             <!-- Card Body -->
                            <div class="card-body">
                                <div class="d-flex justify-content-end mt-2">
                                <p style="background: rgba(223, 0, 0, 0.836); padding: 4px; border-radius: 10px; color: white;"><strong>Saliente .</strong><i>Miercoles 30 de agosto</i></p>
                                </div>

                                <div class="d-flex justify-content-start">
                                    <p><strong>20.40 PM</strong></p> <i class="fa fa-street-view" style="font-size: 30px;"></i> <p style="margin-left: 4px;"><strong>Lima</strong><br> Plaza norte</p>
                                </div>
                                <div class="d-flex justify-content-start">
                                <p><strong>10.00 PM</strong></p> <i class="fa fa-compass" style="color: rgb(209, 0, 0); font-size: 30px;"></i> <p style="margin-left: 4px;"><strong>Huarmey</strong><br> Parque industrial</p>
                                </div>

                                <div id="" class='d-flex justify-content-between border-bottom mt-2'><p>Pasajero 01 - Asiento 10</p> <p class='text-secondary'><strong>S/.50</strong></p></div>
                                <div id="" class='d-flex justify-content-between border-bottom mt-2'><p>Pasajero 02 - Asiento 10</p> <p class='text-secondary'><strong>S/.50</strong></p></div>
                                <div id="" class='d-flex justify-content-between border-bottom mt-2'><p>Pasajero 03 - Asiento 10</p> <p class='text-secondary'><strong>S/.50</strong></p></div>

                                <div id="prefinal" class="d-flex justify-content-between mt-2">
                                    <p><strong>Total.</strong></p> <p><strong>S/. 150.00</strong></p>
                                </div>
                                
                            </div>
                        </div>
                      </div>
                    </div>
                     
                    </div>
                   
                </div>
              </div>
                              
             </div>

                
            </div>
    
        </div>
    
    </div>

    <!-- registro-pasajeros.component.html -->
    <div class="card border mat-elevation-z4 mt-4" style="border-radius: 10px;">
        <!-- /*Card Header - Dropdown*/--> 
     <div class="card-header py-3 bg-white border-bottom">
         <h6 class="m-0 font-weight-bold text-dark">Registro Pasajeros</h6>
     </div>
     <!--/* Card Body */-->
     <div class="card-body mt-2">
         <div class="row">
             <div class="col-md-12">
     <section>        
         <!-- Botón para agregar más pasajeros -->
         <button mat-raised-button type="button" (click)="agregarPasajero()">Agregar Pasajero</button>
         <!-- Botón para enviar el formulario -->
         <button mat-raised-button type="submit" [disabled]="!pasajerosForm.valid">Enviar</button>
     </section>
     </div>
     </div>
     </div>
     </div> 
</body>