<div mat-dialog-title class="row">
    <div class="col-md-12"><img src="../../../assets/img/viajaperulogo.png" alt="" width="200px"></div>
    <div class="col-md-12"><h5 class="m-3">Formulario buses</h5></div>

    <mat-divider></mat-divider>
    
</div>

<form id="formBus" [formGroup]="formRegistra">
<div mat-dialog-content>
    
           
    <div class="row">
       
        <mat-form-field appearance="outline" class="mt-2 p-1">
            <mat-label>Placa</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="objBus.placa"  (ngModelChange)="agregarGuion()" formControlName="validaPlaca" name="placa" >
            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaPlaca.touched">
                <span *ngIf="formRegistra.controls.validaPlaca.hasError('required')">
                La placa es requerida
                </span>
                <span *ngIf="formRegistra.controls.validaPlaca.hasError('pattern')">
                La placa debe ser A00-0AA
                </span>
            </mat-hint>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="mt-2 p-1">
            <mat-label>Marca</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="objBus.marca" formControlName="validaMarca" name="marca">
            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaMarca.touched">
                <span *ngIf="formRegistra.controls.validaMarca.hasError('required')">
                La marca es requerida
                </span>
                <span *ngIf="formRegistra.controls.validaMarca.hasError('pattern')">
                Valida de 2 a 20 letras
                </span>
            </mat-hint>
        </mat-form-field> 
    </div>

    <div class="row">
        <mat-form-field appearance="outline" class="p-1">
            <mat-label>Asientos</mat-label>
            <input type="number" matInput placeholder="Placeholder" [(ngModel)]="objBus.total_asientos" formControlName="validaTotalAsientos" name="asientos">
          
            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaTotalAsientos.touched">
                <span *ngIf="formRegistra.controls.validaTotalAsientos.hasError('required')">
                asientos es requerido
                </span>
                <span *ngIf="formRegistra.controls.validaTotalAsientos.hasError('min')">
                Valido de 40 a 80
                </span>
                <span *ngIf="formRegistra.controls.validaTotalAsientos.hasError('max')">
                Valido de 40 a 80
                </span>
            </mat-hint>

          </mat-form-field>  
          
          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Pasajeros</mat-label>
            <input type="number" matInput placeholder="Placeholder" [(ngModel)]="objBus.total_pasajeros" formControlName="validaTotalPasajeros" name="asientos">

            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaTotalPasajeros.touched">
                <span *ngIf="formRegistra.controls.validaTotalPasajeros.hasError('required')">
                pasajeros es requerido
                </span>
                <span *ngIf="formRegistra.controls.validaTotalPasajeros.hasError('min')">
                Valido 37 a 77
                </span>
                <span *ngIf="formRegistra.controls.validaTotalPasajeros.hasError('max')">
                Valido 37 a 77
                </span>
            </mat-hint>

          </mat-form-field>     
    </div>

    <div class="row">
        <mat-form-field appearance="outline" class="p-1">
            <mat-label>Año fabricación</mat-label>
            <input type="number" matInput placeholder="Placeholder" [(ngModel)]="objBus.fabricacion" formControlName="validaAnioFabricacion" name="asientos">

            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaAnioFabricacion.touched">
                <span *ngIf="formRegistra.controls.validaAnioFabricacion.hasError('required')">
                El año es requerido
                </span>
                <span *ngIf="formRegistra.controls.validaAnioFabricacion.hasError('min')">
                Solo entre 2010 y {{currentYear}}
                </span>
                <span *ngIf="formRegistra.controls.validaAnioFabricacion.hasError('max')">
                Solo entre 2010 y {{currentYear}}
                </span>
            </mat-hint>

          </mat-form-field>
          
          <mat-form-field appearance="outline" class="p-1">
            <mat-label>Cantidad ruedas</mat-label>
            <input type="number" matInput placeholder="Placeholder" [(ngModel)]="objBus.cantidad_ruedas" formControlName="validaCantidadRuedas" name="asientos">
        
            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaCantidadRuedas.touched">
                <span *ngIf="formRegistra.controls.validaCantidadRuedas.hasError('required')">
                Las ruedas es requerida
                </span>
                <span *ngIf="formRegistra.controls.validaCantidadRuedas.hasError('pattern')">
                Solo pares
                </span>
                <span *ngIf="formRegistra.controls.validaCantidadRuedas.hasError('min')">
                Entre 4 a 16
                </span>
                <span *ngIf="formRegistra.controls.validaCantidadRuedas.hasError('max')">
                Entre 4 a 16
                </span>
            </mat-hint>

        </mat-form-field>  
    </div>


    <div class="row">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Combustible</mat-label>
            <mat-select [(ngModel)]="objBus.cod_combustible" formControlName="validaCombustible">
                <mat-option [value]=-1> [Seleccione] </mat-option>
                <mat-option  *ngFor="let x of lstCombustible" [value]="x.cod_combustible">
                    {{x.nombre}}
                </mat-option>   
            </mat-select> 
            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaCombustible.touched">
                <span *ngIf="formRegistra.controls.validaCombustible.hasError('min')">
                Debe seleccionar el combustible
                </span>
            </mat-hint>
        </mat-form-field> 

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Servicio</mat-label>
            <mat-select [(ngModel)]="objBus.cod_servicio" formControlName="validaServicio">
                <mat-option [value]=-1> [Seleccione] </mat-option>
                <mat-option  *ngFor="let x of lstServicio" [value]="x.cod_servicio">
                    {{x.nombre}}
                </mat-option>   
            </mat-select>
            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaServicio.touched">
                <span *ngIf="formRegistra.controls.validaServicio.hasError('min')">
                Debe seleccionar el servicio
                </span>
            </mat-hint> 
        </mat-form-field> 

        

    </div>

    <div class="row">
        <mat-form-field *ngIf="data" appearance="outline" style="width: 100%;">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="objBus.estado" formControlName="validaEstado">
                <mat-option [value]=-1> [Seleccione] </mat-option>
                <mat-option [value]=1>Activo</mat-option>
                <mat-option [value]=0>Inactivo</mat-option>    
            </mat-select> 
            <mat-hint style="color:red" *ngIf="formRegistra.controls.validaEstado.touched">
                <span *ngIf="formRegistra.controls.validaEstado.hasError('min')">
                Debe seleccionar el estado
                </span>
            </mat-hint>
        </mat-form-field> 
    </div>

</div>

<div mat-dialog-actions>
    <button mat-raised-button type="button" [mat-dialog-close]="false" >Cancel</button>
    <button mat-raised-button color="warn" (click)="registrar()" [disabled]="formRegistra.invalid">{{data ? 'Actualizar' : 'Registrar'}}</button>
</div>

</form>