<body>
    <header class="bg_animate" style="height: 500px;">
      <div class="header_nav">
          <div class="contenedor">
              <img src="../../../assets/img/viajaperulogo.png" alt="" class="bg-bus">                
          </div>
      </div>

      <section class="banner contenedor">
          <section class="banner_title">
              <h2>Compra online tu boleto de viaje desde nuestra web</h2>
              <p><strong>Smartbus</strong> el negocio que necesitas para viajar sin hacer largas colas y gastar mucho</p>
          </section>
          <div class="banner_img">    
              <img src="../../../assets/img/distancia-buses.svg" alt="" style="width: 500px;">
          </div>
      </section>

      <div class="burbujas">
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
      </div>
  </header>
      <div class="p-1 bg-white">
              
        <div class="container">

          <div class="row d-flex justify-content-center mt-4">
            <div class="col-sm-12 col-xs-12 col-lg-3 mt-2">
            <mat-form-field style="width: 100%;">
                <mat-label>Desde</mat-label>
                <mat-select [(ngModel)]="origen">
                    <mat-option value="-1"> [Seleccione] </mat-option> 
                    <mat-option *ngFor="let f of lstOrigenes" [value]="f"> {{f}} </mat-option> 
                </mat-select> 
            </mat-form-field> 
            </div>

            <div class="col-sm-12 col-xs-12 col-lg-3 mt-2">
              
              <mat-form-field style="width: 100%;">
                <mat-label>Hasta</mat-label>
                <mat-select [(ngModel)]="llegada">
                    <mat-option value="-1"> [Seleccione] </mat-option> 
                    <mat-option *ngFor="let l of lstLlegadas" [value]="l"> {{l}} </mat-option>  
                </mat-select> 
            </mat-form-field> 

            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 mt-2">

              <mat-form-field style="width: 100%;">
                <mat-label>Seleccione el dia</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaSalida">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="col-sm-12 col-xs-12 col-lg-2 mt-2 text-center">
              <button mat-raised-button color="warn" class="mt-2" style="width: 100%;" (click)="consultarItinerarios()">Buscar bus</button>
            </div>
  
          </div>

    <div class="row mt-5">
        <h4 class="m-4">Nuestros servicios</h4>



        <div class="col-md-12" *ngFor="let x of lstItinerarios">
            <div class="card mat-elevation-z4 mb-3" style="border-radius: 10px;">
              <div class="row g-0">
                <div class="col-md-3 col-sm-5">
                  <img class="card-img-left" src="../../../assets/img/Bus-stick.png" width="100%"/>
                </div>

                <div class="col-md-9 col-sm-7">
                  <div class="d-flex justify-content-between m-4">
                    <h5 class="card-title">{{x.fecha_salida | date:'EEEE d \'de\' MMMM \'del\' y'}}</h5>
                    <h4 class="text-danger"><i class="text-dark" style="font-size: 14px;">DESDE  </i>S/.{{x.precio}}</h4>
                  </div>

                  <div class="card-body" style="margin-top: -40px;">  
                    <div class="d-flex justify-content-start">
                      <i class="fa fa-street-view" style="font-size: 30px;"></i> <p style="font-weight: bold;"> {{x.fecha_salida | date:"hh:mm a"}} </p>
                      <strong style="margin-left: 50px;">Salida </strong><i style="margin-left: 10px;"> {{x.objOrigen!.nombre}}</i>
                    </div>

                    <div class="d-flex justify-content-start">
                      <i class="fa fa-compass" style="color: rgb(209, 0, 0); font-size: 30px;"></i> <p style="font-weight: bold;"> {{x.fecha_llegada | date:"hh:mm a"}} </p>
                      <strong style="margin-left: 50px;">Llegada </strong><i style="margin-left: 10px;"> {{x.objLlegada!.nombre}}</i>
                    </div>

                    
                      <div class="d-flex justify-content-start">
                        <i class="fa fa-users mt-2" style="color: rgb(71, 71, 71); font-size: 20px;"></i> <p style="font-weight: bold;" class="m-2"> {{x.objBus!.total_pasajeros}} Disponibles</p>
                      <p class="card-text m-2"><strong>Bus y servicio </strong><small class="text-muted">
                        {{x.objBus!.placa}} - {{x.objBus!.objServicio!.nombre}}</small></p>
                      </div>
                      <div class="d-flex justify-content-end">
                        <button mat-raised-button class="rounded-pill" color="warn" (click)="enviarData(x)">seleccionar</button>
                      </div>
              
                    
                  </div>

                </div>

              </div>
            </div>
          </div>

    </div>



      </div>

      </div>

   <!-- Footer -->
   <footer class="text-center text-lg-start text-light mt-4">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span class="text-dark" style="font-size: 13px;">Buscanos en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="m-2 text-dark">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="m-2 text-dark">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="m-2 text-dark">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="m-2 text-dark">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="m-2 text-dark">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="m-2 text-dark">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 text-dark">
              <i class="fas fa-gem me-3"></i>Viaja Perú
            </h6>
            <p class="text-dark" style="font-size: 13px;">
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-danger" style="font-weight: bold;">
              Products
            </h6>
            <p>
              <a href="#!" class="text-dark">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-dark">React</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-danger" style="font-weight: bold;">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-dark">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 text-danger" style="font-weight: bold;">Contact</h6>
            <p class="text-dark"><i class="fas fa-home me-3"></i> Av. Tomas valle 105 Plaza Norte</p>
            <p class="text-dark">
              <i class="fas fa-envelope me-3"></i>
              info@viajaperu.com
            </p>
            <p class="text-dark"><i class="fas fa-phone me-3"></i> + 51 234 567 88</p>
            <p class="text-dark"><i class="fas fa-print me-3"></i> + 987 654 321</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <i class="text-dark">© 2021 Copyright:</i> 
      <a class="text-dark fw-bold" href="asientoselect">ViajaPeru.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</body>