<body>
    <header class="bg_animate" style="height: 500px;">
      <div class="header_nav">
          <div class="contenedor">
              <img src="../../../assets/img/viajaperulogo.png" alt="" class="bg-bus">                
          </div>
      </div>

      <section class="banner contenedor">
          <section class="banner_title">
              <h2>Compra online tu boleto de viaje desde nuestra web</h2>
              <p><strong>Smartbus</strong> el negocio que necesitas para viajar sin hacer largas colas y gastar mucho</p>
          </section>
          <div class="banner_img">    
              <img src="../../../assets/img/distancia-buses.svg" alt="" style="width: 500px;">
          </div>
      </section>

      <div class="burbujas">
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
      </div>
  </header>
      <div class="p-1 bg-white">
              
        <div class="container">

          <div class="row d-flex justify-content-center mt-4">
            <div class="col-sm-12 col-xs-12 col-lg-3 mt-2">
            <mat-form-field style="width: 100%;">
                <mat-label>Desde</mat-label>
                <mat-select [(ngModel)]="origen">
                    <mat-option value="-1"> [Seleccione] </mat-option> 
                    <mat-option *ngFor="let f of lstOrigenes" [value]="f"> {{f}} </mat-option> 
                </mat-select> 
            </mat-form-field> 
            </div>

            <div class="col-sm-12 col-xs-12 col-lg-3 mt-2">
              
              <mat-form-field style="width: 100%;">
                <mat-label>Hasta</mat-label>
                <mat-select [(ngModel)]="llegada">
                    <mat-option value="-1"> [Seleccione] </mat-option> 
                    <mat-option *ngFor="let l of lstLlegadas" [value]="l"> {{l}} </mat-option>  
                </mat-select> 
            </mat-form-field> 

            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3 mt-2">

              <mat-form-field style="width: 100%;">
                <mat-label>Seleccione el dia</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaSalida">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="col-sm-12 col-xs-12 col-lg-2 mt-2 text-center">
              <button mat-raised-button color="warn" class="mt-2" style="width: 100%;">Buscar bus</button>
            </div>
  
          </div>

    <div class="row mt-5">
        <h4 class="m-4">Nuestros servicios</h4>



        <div class="col-md-12" *ngFor="let x of lstItinerarios">
            <div class="card mat-elevation-z4 mb-3">
              <div class="row g-0">
                <div class="col-md-3 col-sm-5">
                  <img class="card-img-left" src="../../../assets/img/Bus-stick.png" alt="Card image" width="100%"/>
                </div>
                <div class="col-md-9 col-sm-7">
                  <div class="card-body">
                      <h5 class="card-title">{{x.fecha_salida | date:"dd MMM yyyy hh:mm a"}}</h5> 
                      <mat-divider></mat-divider>                                      

                    <p class="card-text mt-2">
                      <strong>Salida </strong><i> {{x.objOrigen!.nombre}}</i>
                    </p>
                    <p><strong>Llegada </strong> <i>{{x.objLlegada!.nombre}}</i></p>
                    <p class="card-text"><strong>Bus y servicio </strong><small class="text-muted">
                      {{x.objBus!.placa}} - {{x.objBus!.objServicio!.nombre}}</small></p>
                    <div class="d-flex justify-content-between">
                      <p><strong>Precio </strong><i>{{x.precio}}</i></p>
                      <button mat-raised-button class="rounded-pill" color="warn">seleccionar</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>



      </div>

      </div>

   <!-- Footer -->
   <footer class="text-center text-lg-start text-light mt-4" style="background:#0F0F0F">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Buscanos en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="m-2 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="m-2 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="m-2 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="m-2 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="m-2 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="m-2 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Viaja Perú
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="asientoselect">ViajaPeru.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</body>