<body>

    <header class="bg_animate" style="height: 500px;">
      <div class="header_nav">
          <div class="contenedor">
              <img src="../../../assets/img/viajaperulogo.png" alt="" class="bg-bus">                
          </div>
      </div>

      <section class="banner contenedor">
          <section class="banner_title">
              <h2>Selecciona tus asientos</h2>
              <p><strong style="color: red;">VIAJA PERU</strong> el negocio que necesitas para viajar sin hacer largas colas y gastar mucho</p>
          </section>
          <div class="banner_img">    
              <img src="../../../assets/img/Bus-stick.png" alt="" style="width: 600px;">
          </div>
      </section>

      <div class="burbujas">
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
          <div class="burbuja"></div>
      </div>
  </header>
      <div class="p-1 bg-white">
              
        <div class="container">

          <div class="row mt-4">
            <div class="col-xl-8 col-lg-7">
                <div class="card border mat-elevation-z4 b-4" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 bg-white border-bottom">
                        <h6 class="m-0 font-weight-bold text-dark">Contacto</h6>
                    </div>
                    <!-- Card Body -->
                    <form id="formEnviar" [formGroup]="formEnviar">
                    <div class="card-body mt-2">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="background: rgba(255, 0, 0, 0.493);padding: 10px;border-radius: 10px;border: 1px solid red; text-align: center;">Sus boletos y recibos seran enviados a la direccion de correcto electronico que indique en este formumario</p>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Correo electronico</mat-label>
                                    <input matInput placeholder="Placeholder" [(ngModel)]="correoCliente" formControlName="validMail">
                                    <mat-hint style="color:red" *ngIf="formEnviar.controls.validMail.touched">
                                        <span *ngIf="formEnviar.controls.validMail.hasError('required')">
                                        El correo electronico es requerido
                                        </span>
                                        <span *ngIf="formEnviar.controls.validMail.hasError('pattern')">
                                        El correo debe cumplir con el formato correcto
                                        </span>
                                    </mat-hint>                    
                                  </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Numero de telefono</mat-label>
                                    <input matInput placeholder="Placeholder" [(ngModel)]="telefono" formControlName="validFono">
                                    <mat-hint style="color:red" *ngIf="formEnviar.controls.validFono.touched">
                                        <span *ngIf="formEnviar.controls.validFono.hasError('required')">
                                        El celular es requerido
                                        </span>
                                        <span *ngIf="formEnviar.controls.validFono.hasError('pattern')">
                                        El numero debe iniciar con 9 y tener 9 digitos
                                        </span>
                                    </mat-hint>                      
                                  </mat-form-field>
                            </div>

                        </div>
                    </div>

                </form>
                </div>

                <div class="card border mat-elevation-z4 mt-4" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 bg-white border-bottom">
                        <h6 class="m-0 font-weight-bold text-dark">Facturación</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body mt-2">
                        <div class="row">
                            <div class="col-md-12">
                        
                                <section>
                                    <p>Eliga el tipo de comprobante que desee</p>
                                    <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style">
                                      <mat-button-toggle value="Boleta" [style]="fontStyleControl.value === 'Boleta' || fontStyleControl.value === '' ? 'background: red;width: 150px;border-radius: 20px;color: white;font-weight: bold;' : 'background: white;width: 150px;border-radius: 20px;border:2px solid red;z-index:-1;'">Boleta</mat-button-toggle>
                                      <mat-button-toggle value="Factura" [style]="fontStyleControl.value === 'Factura' ? 'background: red;width: 150px;border-radius: 20px;margin-left: -25px;color: white;font-weight: bold;' : 'background: white;width: 150px;border-radius: 20px;border:2px solid red;margin-left: -25px;z-index:-1;'">Factura</mat-button-toggle>
                                    </mat-button-toggle-group>
                                    <p>Usted eleigio <b class="text-danger">{{fontStyleControl.value}}</b> </p>
                                  </section>  
                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border mat-elevation-z4 mt-4" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 bg-white border-bottom">
                        <h6 class="m-0 font-weight-bold text-dark">Medio de pago</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body mt-2">
                        <div class="row">
                            <div class="col-md-12">             
                                <section>
                                    <p><mat-checkbox (change)="checkboxChange()">* Al hacer clic acepta y confirma haber leido los terminos y condiciones de <i class="text-danger font-weight-bold">Viaja Perú</i> </mat-checkbox></p>
                                  </section>             
                            </div>

                            <div class="d-flex justify-content-center">

                           <div class="card mat-elevation-z4 col-md-5" style="margin: 0 10px;" (click)="verDataElegida()">
                                <div class="d-flex justify-content-center">
                                    <img src="https://png.pngtree.com/png-vector/20230407/ourlarge/pngtree-credit-card-flat-icon-vector-png-image_6680107.png" width="50%" alt="">
                                </div>
                                <p class="text-center">TARJETA DE <b>CREDITO</b></p>
                            
                            </div>

                            <div class="card mat-elevation-z4 col-md-5" style="margin: 0 10px;">
                                <div class="d-flex justify-content-center">
                                    <img src="https://png.pngtree.com/png-vector/20230407/ourlarge/pngtree-credit-card-flat-icon-vector-png-image_6680107.png" width="50%" alt="">
                                </div>
                                <p class="text-center">TARJETA DE <b>DEBITO</b></p>
                            
                            </div>

                            </div>

                            <div class="col-md-12 mt-4 d-flex justify-content-center">
                                <button mat-raised-button color="warn" (click)="openDialog()" [disabled]="!checkMarcado">PAGUE AQUI</button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
    
            <div class="col-xl-4 col-lg-5">
                <div class="row">

                  <div class="col-xl-12 col-lg-12">
                    <div class="card mat-elevation-z4 mb-4" style="border-radius: 10px;">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold">Detalle del viaje</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="d-flex justify-content-end mt-2">
                          <p style="background: rgba(223, 0, 0, 0.836); padding: 4px; border-radius: 10px; color: white;"><strong>Saliente .</strong><i>{{objItinerario.fecha_salida | date:'EEEE d \'de\' MMMM'}}</i></p>
                        </div>

                        <div class="d-flex justify-content-start">
                            <p><strong>{{objItinerario.fecha_salida | date:'hh:mm a'}}</strong></p> <i class="fa fa-street-view" style="font-size: 30px;"></i> <p style="margin-left: 4px;"><strong>{{objItinerario.objOrigen!.nombre}}</strong><br> {{objItinerario.objOrigen!.sucursal}}</p>
                        </div>
                        <div class="d-flex justify-content-start">
                          <p><strong>{{objItinerario.fecha_llegada | date:'hh:mm a'}}</strong></p> <i class="fa fa-compass" style="color: rgb(209, 0, 0); font-size: 30px;"></i> <p style="margin-left: 4px;"><strong>{{objItinerario.objLlegada!.nombre}}</strong><br> {{objItinerario.objLlegada!.sucursal}}</p>
                      </div>

                      <div>

                        <div class="d-flex justify-content-between" *ngFor="let asiento of asientosSeleccionados; let i = index">
                            <p><b>Pasajero {{(i+1)}}</b> N° de Asiento:{{asiento}}</p>
                            <p class="text-danger"><b>S/.{{objItinerario.precio | number:'1.2-2'}}</b></p>
                        </div>

                        <div class="d-flex justify-content-between border-top" *ngIf="total!==0.00">
                            <p class="mt-2">Total:</p>
                            <p class="mt-2"><b>S/.{{total | number:'1.2-2'}}</b></p>
                        </div>

                        <div class="border-top" *ngIf="total===0.00">
                            <p class="mt-2">No hay asientos seleccionados</p>
                        </div>
                    </div>

                        
                    </div>
                </div>
              </div>
                              
             </div>

                
            </div>
    
        </div>
    
        </div>

      </div>

  </body>

